<!-- @format -->
<link rel="stylesheet" href="/api/v1/pages/styles/dashboard.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/regular.min.css"
  integrity="sha512-KYEnM30Gjf5tMbgsrQJsR0FSpufP9S4EiAYi168MvTjK6E83x3r6PTvLPlXYX350/doBXmTFUEnJr/nCsDovuw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/brands.min.js"
  integrity="sha512-ojD9xRtdGdJLd9K/vMhV6GyO8G9wVrofDXmX4AjrKPctyKTLaVVwuAJhZanincPnSprZv1Nc3iDpxIi/6+Xv7A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div class="container">
  <div class="side_bar">
    <div class="profile-pics">
      <img src="/api/v1/pages/uploads/<%= avatar %>" alt="User Avatar" />
      <span class="fa-solid fa-pencil"></span>
    </div>

    <ul class="menu">
      <li><a href="#" data-id="profile-section" class="data">Profile</a></li>
      <li>
        <a href="#" data-id="analytic-section" class="analytic">Analytic</a>
      </li>
      <li><a href="#" data-id="Quiz-section" class="data">Quiz</a></li>
    </ul>
    <div class="logout">
      <form action="/api/v1/auth/logout" method="post">
        <button type="submit">logout</button>
      </form>
    </div>
  </div>

  <div class="main_body">
    <div class="resize">
      <span
        class="fa-solid fa-angle-right hidden increaseWidth"
        data-resize="300"
      ></span>
      <span
        class="fa-solid fa-angle-left descreaseWidth"
        data-resize="0"
      ></span>
    </div>

    <div class="analytics content" id="analytic-section">
      <canvas id="myChart"></canvas>
    </div>

    <!-- display content -->
    <div class="display-content"></div>

    <div class="profile_status content" id="profile-section">
      <h1>Profile</h1>
      <div class="userProfile"></div>

      <!-- change user password -->
      <div class="change-password">
        <h1>Change Password</h1>
        <form id="change_password">
          <p class="msg"></p>
          <label for="old-password"
            >Old Password
            <input
              type="password"
              name="old_password"
              id="old-password"
              placeholder="Old Password"
            />
            <span class="fa-solid fa-eye"></span>
          </label>
          <label for="new-password"
            >New Password
            <input
              type="password"
              name="new_password"
              id="new-password"
              placeholder="New Password"
            />
            <span class="fa-solid fa-eye"></span>
          </label>
          <label for="confirm_password"
            >confirm_password
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm password"
            />
            <span class="fa-solid fa-eye"></span>
          </label>
          <button type="submit">Change password</button>
        </form>
      </div>
    </div>

    <!-- quiz section -->
    <div class="quiz-section content" id="Quiz-section">
      <h1>
        Quiz
        <!--<span><%=  %></span>-->
        <!-- delete-preview end -->
        <div class="update_delete_btn">
          <button>
            <a href="/api/v1/pages/username"
              ><i class="fa-solid fa-plus"></i> Create Quiz</a
            >
          </button>
          <button class="answerQuiz">
            <a href="/api/v1/pages/userdetails"
              ><i class="fa-solid fa-book-open-reader"></i> Answer Quiz</a
            >
          </button>
          <button type="click" id="update">Update</button>
          <button type="submit" id="delete">
            <i class="fa-solid fa-trash-can"></i> Delete
          </button>
        </div>
      </h1>
      <div class="quiz-parent-box">
        <!-- <h2>No Quiz created yet</h2> -->
      </div>

      <!-- delete preview -->
      <div class="overlay_delete_preview">
        <div class="delete_preview">
          <div class="delete_text">
            <span class="fa-solid fa-xmark"></span>
            <h1>Delete <span id="document_count"><%= quizLength %></span> documents</h1>
            <p style="font-family: sans-serif">Quiz Section</p>
          </div>

          <div class="overflow_">
            <div class="vertical-height">
              <!-- it goes here -->
            </div>
          </div>
          <!-- btns for cancel and delete -->
          <div class="btns_delete">
            <button type="button">Cancel</button>
            <button type="button" id="confirmation_del_btn">
              Delete <span id="document_count"><%= quizLength %></span> document
            </button>
          </div>
        </div>
      </div>

      <!-- confirmation delete box -->
      <div class="confrimation_box_overlay">
        <div class="confrimation_box">
          <h1>Are you absolutely sure?</h1>
          <p>
            This action can not be undone. This will permanently delete
            <span id="document_count"></span> documents.
          </p>
          <div class="confirmation_delete_btns">
            <button type="button" id="cancel_">Cancel</button>
            <button type="button" id="delete_doc_btn">
              Delete <span id="document_count"><%= quizLength %></span> document
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- update the user dp -->
    <div class="avatar_modal_update">
      <span class="fa-solid fa-xmark"></span>

      <div class="avatar_modal">
        <img src="/api/v1/pages/uploads/<%= avatar %>" alt="User Avatar" />
        <input type="file" name="updateAvatar" id="updateAvatar" />
        <button type="click">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

<script src="/socket.io/socket.io.js"></script>

<script src="/api/v1/pages/script/Dashboard/dashboard.js"></script>
<script src="/api/v1/pages/script/Dashboard/sidebarDashboard.js"></script>
<!-- <script src="/user/v1/script/Dashboard/deleteOPDashboard.js"></script> -->
